@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
nav {
    color: darkred;
    font-style: oblique;
}

.navbar-default {
    background-color: antiquewhite;
}

.navbar-nav > li > a {
    color: 	lightsalmon;
}

.navbar-nav > li > a:hover {
    color: coral;
}

#logout:hover{
  cursor: pointer;
}
