.left {
  width: 50%;
  float: left;
  position: relative;
  display: block;
}

.right {
  display: block;
  width: 50%;
  float: right;
  position: relative;
}

h2 {
  margin-top: 0.5cm;
}

/* Form css */

#formStyle{
  border-radius: 5px;
  padding: 15px;
  background-color: #f2f2f2;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.error-message {
    color: firebrick;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin: 0;
}

.btn-primary {
    background-color: coral;
    border-color: coral;

    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

/* Dropdown css */
.dropbtn {
    background-color: coral;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    /*padding: 0 180px;*/
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
  color: tomato;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
.dropdown-content a:hover {
  background-color: antiquewhite;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}
  
.dropdown:hover .dropbtn {
  background-color: coral;
}

span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}