.image-container {
    width: 600px;
    height: 400px;
}

.image-preview {
    width: 6cm;
    height: 6cm;
    border-radius: 50%;
    border: 4px solid coral;
    margin-left: 10px;
}

.row {
    display: flex; 
}

.col {
    padding: 1px;
}

.btn-success{
    background-color: lightsalmon;
    border: 2px solid coral;
}

.btn-primary {
    background-color: coral;
    border-color: coral;

}

