<div class="container">
    <app-navigation></app-navigation>
    <hr>
    <br>
    <div class="row">
        <div class = "image-container col">
            <img id = "image" #image [src]="this.sanitizer.bypassSecurityTrustResourceUrl(this.getImage())"
             crossorigin>
        </div>

        <div class="col">
            <div align="center">
                <img class = "image-preview" [src]="this.imageDest">
                <br>
            </div>
            <div align="center">
                <br>
                <input name="Picture" class="btn btn-danger" type="file" accept=".png,.jpg,.jpeg" (change)="selectImage($event);" />
                    
                <br>
                <br>
                <button class="btn btn-primary" (click) = uploadPicture()> Upload picture </button> 
                <br>
                <br>
                <p style = 'color: firebrick'> *Note: If the picture is large, You might need to refresh your profile page after picture upload</p>
            </div>
        </div>
    </div>
</div>
